run_jupyter.sh

monotonic_nn.egg-info
_proc
_docs
dist
build
/.quarto/
.ipynb_checkpoints
__pycache__

token

# mkdocs build output / notebook execution cache
/site/
/.cache/

CHANGELOG.bak

.venv*
.env*
.vscode
*.bak
